<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Eventify</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../../static/admin/images/evv.png" rel="icon">
  <link href="../../static/admin/images/evv.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../static/root/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../static/root/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../static/root/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../static/root/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../static/root/vendor/swiper/swiper-bundle.min.css" rel="stylesheet"> 

  <!-- Main CSS File -->
<link href="../../static/root/css/main.css" rel="stylesheet" >

</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="{{ url_for('home') }}" class="logo d-flex align-items-center me-auto">
        <img src="../../static/admin/images/ee cpy.png"  alt="">
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero" class="active">Home<br></a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="#faq">FAQ</a></li>
          <li><a href="{{url_for ('login_page') }}">Admin</a></li>
          <li><a class="cta-btn" href="{{url_for ('register_page') }}">Register for Event</a></li>
          <li class="dropdown"><a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="#">Dropdown 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="#">Deep Dropdown 1</a></li>
                  <li><a href="#">Deep Dropdown 2</a></li>
                  <li><a href="#">Deep Dropdown 3</a></li>
                  <li><a href="#">Deep Dropdown 4</a></li>
                  <li><a href="#">Deep Dropdown 5</a></li>
                </ul>
              </li>
              <li><a href="#">Dropdown 2</a></li>
              <li><a href="#">Dropdown 3</a></li>
              <li><a href="#">Dropdown 4</a></li>
            </ul>
          </li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>


    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section" style="background-color:navy">

      <img src="../../static/root/img/even1.jpg" alt="" data-aos="fade-in" class="">

      <div class="container d-flex flex-column align-items-center text-center mt-auto">
        <h2 data-aos="fade-up" data-aos-delay="100" class="">WELCOME TO<br><span>EVENTIFY</span></h2>
        <p data-aos="fade-up" data-aos-delay="200">Your one-stop solution for event registration and management</p>
        <div data-aos="fade-up" data-aos-delay="300" class="">
          <a href="../../static/root/img/eventify.mp4" class="glightbox play-btn"></a>
        </div>
      </div>

      <div class="about-info mt-auto position-relative">

        <div class="container position-relative" data-aos="fade-up">
          <div class="row">
            <div class="col-lg-6">
              <h2>About Eventify</h2>
              <p>Eventify is dedicated to providing seamless event registration and management services. <br> It is designed to make event registration easy and efficient. We offer a range of services, from Easy Registration process, 
              to a comprehensive event management process, as well as providing real-time updates and Notifications, we ensure your event is a success. </p>
            </div>
            <div class="col-lg-3">
              <h3>Where</h3>
              <p>Our Head Office is Located at 186 Jakpa RD, Effurun, Delta State, Nigeria.</p>
            </div>
            <div class="col-lg-3">
              <h3>When</h3>
              <p>We are Available Mon-Sat, 8am - 7pm</p>
            </div>   
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->

     <!-- Services Section -->
        <section id="services" class="services section-bg">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2 >Services</h2>
                    <p>Explore the range of services we offer to make your event successful.</p>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                            <div class="icon"><i class="bi bi-calendar-event"></i></div>
                            <h4 class="title"><a href="">Event Planning</a></h4>
                            <p class="description">Comprehensive planning services to ensure your event runs smoothly.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                            <div class="icon"><i class="bi bi-card-checklist"></i></div>
                            <h4 class="title"><a href="">Registration Management</a></h4>
                            <p class="description">Efficient and easy-to-use registration management system.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                            <div class="icon"><i class="bi bi-people"></i></div>
                            <h4 class="title"><a href="">Attendee Engagement</a></h4>
                            <p class="description">Tools and strategies to keep your attendees engaged and informed.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Services Section -->


         <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact Us</h2>
        <p>Get in touch with us for any questions or inquiries.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-6">
            <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-geo-alt"></i>
              <h3>Address</h3>
              <p>186 Jakpa Road, Delta State, Nigeria</p>
            </div>
          </div><!-- End Info Item -->

          <div class="col-lg-3 col-md-6">
            <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-telephone"></i>
              <h3>Call Us</h3>
              <p>+2348103390840</p>
            </div>
          </div><!-- End Info Item -->

          <div class="col-lg-3 col-md-6">
            <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-envelope"></i>
              <h3>Email Us</h3>
              <p>jacobcollinzy6@gmail.com</p>
            </div>
          </div><!-- End Info Item -->

        </div>
        <div class="row gy-4 mt-1">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
            <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d730.2530965572041!2d5.7628247563132735!3d5.565180809241806!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2sng!4v1719776938611!5m2!1sen!2sng" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div><!-- End Google Maps -->

          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="400">
              
              <div class="row gy-4">
                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>

                  <button type="submit">Send Message</button>
                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->


    <!-- Faq Section -->
    <section id="faq" class="faq section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Frequently Asked Questions</h2>
        <p>Find answers to some of the common questions about Eventify</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row justify-content-center">

          <div class="col-lg-10" data-aos="fade-up" data-aos-delay="100">

            <div class="faq-container">

              <div class="faq-item faq-active">
                <h3>What is the registration process?</h3>
                <div class="faq-content">
                  <p>The registration process is simple. Click on the 'Register Now' button, fill in the required details, and submit the form.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3>Can I cancel my registration?</h3>
                <div class="faq-content">
                  <p> Yes, you can cancel your registration up to 24 hours before the event. Please contact our support team for assistance.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3>Is there a deadline for registration?</h3>
                <div class="faq-content">
                  <p>Yes, each event has a specific registration deadline which will be mentioned on the event page.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div>

              <div class="faq-item">
                <h3>Can I register multiple people for an event?</h3>
                <div class="faq-content">
                  <p>Yes, you can register multiple attendees. Please fill out a registration form for each person attending.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div>

              <div class="faq-item">
                <h3>Can I participate in the event remotely?</h3>
                <div class="faq-content">
                  <p>Some events may offer remote participation options such as live streaming or webinars. Refer to the event details for more information.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div>

              <div class="faq-item">
                <h3>How do I provide feedback about an event I attended?</h3>
                <div class="faq-content">
                  <p>You can provide feedback through the feedback form provided after the event or by contacting the event organizers directly.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

            </div>

          </div>

        </div>

      </div>

    </section><!-- /Faq Section -->

   
  </main>

  <footer id="footer" class="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-4 col-md-6 footer-about">
            <a href="index.html" class="logo d-flex align-items-center">
              <span class="sitename">Eventify</span>
            </a>
            <div class="footer-contact pt-3">
              <p>186 Jakpa Road</p>
              <p>Delta State, Nigeria</p>
              <p class="mt-3"><strong>Phone:</strong> <span>+2349053361954</span></p>
              <p><strong>Email:</strong> <span>jacobcollinzy6@gmail.com</span></p>
            </div>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="{{ url_for ('register_page') }}">Register for an event</a></li>
              <li><a href="#"></a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><a href="#">Event Planning</a></li>
              <li><a href="#">Registration Management</a></li>
              <li><a href="#">Attndee Engagement</a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="copyright text-center">
      <div class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">

        <div class="d-flex flex-column align-items-center align-items-lg-start">
          <div>
            © Copyright <strong><span>CollinsJ</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
            This is a Portfolio Project Designed by COLLINS TAMUNOSAKI JACOB, An Emerging Software Engineer from ALX Cohort-20.
          </div>
        </div>

        <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
          <a href="https://x.com/JacobTamun62652?s=09"><i class="bi bi-twitter-x"></i></a>
          <a href="https://www.facebook.com/collins.jacob.92505"><i class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com/blvckboycollinzy?igsh=MXc1NjQyOXk1eWtidw=="><i class="bi bi-instagram"></i></a>
          <a href="https://linkedin.com/in/collins-jacob-a1756426a"><i class="bi bi-linkedin"></i></a>
          <a href="https://github.com/Collinzy0451"><i class="bi bi-github"></i></a>
        </div>

      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="../../static/root/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../static/root/vendor/php-email-form/validate.js"></script>
  <script src="../../static/root/vendor/aos/aos.js"></script>
  <script src="../../static/root/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../static/root/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="../../static/root/js/main.js"></script>

</body>

</html>