<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register for an event</title>
    <link rel="stylesheet" href="../../static/root/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">  
    <link href="../../static/admin/images/evv.png" rel="icon">
    <link href="../../static/admin/images/evv.png" rel="apple-touch-icon">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="../../static/root/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/root/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../../static/root/vendor/aos/aos.css" rel="stylesheet">
    <link href="../../static/root/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../../static/root/vendor/swiper/swiper-bundle.min.css" rel="stylesheet"> 
  
</head>
<body class="index-page">

    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl position-relative d-flex align-items-center">
    
          <a href="{{url_for ('home') }}" class="logo d-flex align-items-center me-auto">
            <img src="../../static/admin/images/ee cpy.png" alt="">
            <!-- <h1 class="sitename">TheEvent</h1>  -->
          </a>
    
          <nav id="navmenu" class="navmenu">
            <ul>
              <li><a href="{{url_for ('register_page') }}" class="active">Event<br></a></li>
              <li><a href="#schedule">Schedule</a></li>
              <li><a href="#venue">Venue</a></li>
              <li><a href="#hotels">Hotels</a></li>
              <li><a href="#gallery">Gallery</a></li>
              <li class="dropdown"><a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="#">Dropdown 1</a></li>
                  <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                    <ul>
                      <li><a href="#">Deep Dropdown 1</a></li>
                      <li><a href="#">Deep Dropdown 2</a></li>
                      <li><a href="#">Deep Dropdown 3</a></li>
                      <li><a href="#">Deep Dropdown 4</a></li>
                      <li><a href="#">Deep Dropdown 5</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Dropdown 2</a></li>
                  <li><a href="#">Dropdown 3</a></li>
                  <li><a href="#">Dropdown 4</a></li>
                </ul>
              </li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
          </nav>
    
          <a class="cta-btn d-none d-sm-block" href="#container-fluid"> Register for an Event</a>
    
        </div>
      </header>
    
      <main class="main">
    
        <!-- Hero Section -->
        <section id="hero" class="hero section">
    
          <img src="../../static/root/img/concert3.jpg" alt="" data-aos="fade-in" class="">
    
          <div class="container d-flex flex-column align-items-center text-center mt-auto">
            <h2 data-aos="fade-up" data-aos-delay="100" class="">PORT-HARCOURT<br><span>CARNIRIV</span></h2>
            <p data-aos="fade-up" data-aos-delay="200">28-29 December, 2024. Yakubu Gowon Stadium, Port-Harcourt. Rivers State.</p>
            <div data-aos="fade-up" data-aos-delay="300" class="">
              <a href="../../static/root/img/carniriv ad.mp4" class="glightbox play-btn"></a>
            </div>
          </div>
    
          <div class="about-info mt-auto position-relative">
    
            <div class="container position-relative" data-aos="fade-up">
              <div class="row">
                <div class="col-lg-6">
                  <h2>About The Event</h2>
                  <p>The Port-Harcourt Carniriv is an annual festival hosted to promote peace and oneness among the diverse people of Rivers State. it involves, sport competitions with quality prices to be won, Band Dance, Pageantry, Awards, Red Carpet and Night show featuring performance from top celebrities across Africa. it is indeed a concert not to be missed.</p>
                </div>
                <div class="col-lg-3">
                  <h3>Where</h3>
                  <p>Yakubu Gowon Stadium, Elekahia, Port Harcourt.</p>
                </div>
                <div class="col-lg-3">
                  <h3>When</h3>
                  <p>Saturday<br>28-29 December, 2024.</p>
                </div>
              </div>
            </div>
          </div>
    
        </section><!-- /Hero Section -->
    
        <!-- Guests Section -->
        <section id="speakers" class="speakers section">
    
          <!-- Section Title -->
          <div class="container section-title" data-aos="fade-up">
            <h2>Event Hosts<br></h2>
    
          </div><!-- End Section Title -->
    
          <div class="container">
    
            <div class="row gy-4">
    
              <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="member">
                  <img src="../../static/root/img/hosts/Siminalayi.jpeg" class="img-fluid" alt="">
                  <div class="member-info">
                    <div class="member-info-content">
                      <h4><a href="speaker-details.html">Gov. Siminalayi Fubara</a></h4>
                      <span>Executive Governor Of Rivers State</span>
                    </div>
                    <div class="social">
                      <a href=""><i class="bi bi-twitter-x"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div><!-- End Team Member -->
    
              <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="member">
                  <img src="../../static/root/img/hosts/Deputy.jpg" class="img-fluid" alt="">
                  <div class="member-info">
                    <div class="member-info-content">
                      <h4><a href="speaker-details.html">Prof. Ngozi Nma Odu</a></h4>
                      <span>Deputy Governor of Rivers State</span>
                    </div>
                    <div class="social">
                      <a href=""><i class="bi bi-twitter-x"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div><!-- End Team Member -->
    
              <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="member">
                  <img src="../../static/root/img/hosts/Comm-Sports.jpg" class="img-fluid" alt="">
                  <div class="member-info">
                    <div class="member-info-content">
                      <h4><a href="speaker-details.html">Chris T. Green. ESQ</a></h4>
                      <span>Commissioner for sports</span>
                    </div>
                    <div class="social">
                      <a href=""><i class="bi bi-twitter-x"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div><!-- End Team Member -->
    
              <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                <div class="member">
                  <img src="../../static/root/img/hosts/Comm-Welfare-2.jpg" class="img-fluid" alt="">
                  <div class="member-info">
                    <div class="member-info-content">
                      <h4><a href="speaker-details.html">Mrs. Inime Chinwemo Aguma</a></h4>
                      <span>Commissioner for Social Welfare</span>
                    </div>
                    <div class="social">
                      <a href=""><i class="bi bi-twitter-x"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div><!-- End Team Member -->
    
            </div>
    
          </div>
    
        </section><!-- /Guests Section -->

          <!-- Schedule Section -->
   
          <section id="schedule" class="schedule section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Performing Artists<br></h2>
          <p>The list of Artists Performing for the show.</p>
        </div><!-- End Section Title -->
  
        <div class="container">
  
          <ul class="nav nav-tabs" role="tablist" data-aos="fade-up" data-aos-delay="100">
            <li class="nav-item">
              <a class="nav-link active" href="#day-1" role="tab" data-bs-toggle="tab">Day 1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#day-2" role="tab" data-bs-toggle="tab">Day 2</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#day-3" role="tab" data-bs-toggle="tab">Day 3</a>
            </li> -->
          </ul>
  
          <div class="tab-content row justify-content-center" data-aos="fade-up" data-aos-delay="200">
  
            <h3 class="sub-heading">A highly Anticipated  Entertainment-filled Concert featuring Music, Dance, Comedy, Games and lots more.</h3>
  
            <!-- Schdule Day 1 -->
            <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">
  
              <div class="row schedule-item">
                <div class="col-md-2"><time></time></div>
                <div class="col-md-10">
                  <div class="speaker">
                    <img src="../../static/root/img/guests/davido.jpeg" alt="">
                  </div>
                  <h4>Davido</h4><span>Nigeria</span>
                  <p>Entertainer</p>
                </div>
              </div>
  
              <div class="row schedule-item">
                <div class="col-md-2"><time></time></div>
                <div class="col-md-10">
                  <div class="speaker">
                    <img src="../../static/root/img/guests/ayra.jpeg" alt="">
                  </div>
                  <h4>Ayra Star<span>Nigeria</span></h4>
                  <p>Singer</p>
                </div>
              </div>
  
              <div class="row schedule-item">
                <div class="col-md-2"><time></time></div>
                <div class="col-md-10">
                  <div class="speaker">
                    <img src="../../static/root/img/guests/rema.png" alt="">
                  </div>
                  <h4>Rema<span>Nigeria</span></h4>
                  <p>Entertainer/p>
                </div>
              </div>
  
              <div class="row schedule-item">
                <div class="col-md-2"><time></time></div>
                <div class="col-md-10">
                  <div class="speaker">
                    <img src="../../static/root/img/guests/sark.jpeg" alt="">
                  </div>
                  <h4>Sarkodie<span>Ghana</span></h4>
                  <p>Rapper</p>
                </div>
              </div>
  
              <div class="row schedule-item">
                <div class="col-md-2"><time></time></div>
                <div class="col-md-10">
                  <div class="speaker">
                    <img src="../../static/root/img/guests/tems.jpeg" alt="">
                  </div>
                  <h4>Tems<span>Nigeria</span></h4>
                  <p>Singer</p>
                </div>
              </div>
  
              <div class="row schedule-item">
                <div class="col-md-2"><time></time></div>
                <div class="col-md-10">
                  <div class="speaker">
                    <img src="../../static/root/img/guests/trevor.jpeg" alt="">
                  </div>
                  <h4>Trevo Noah<span>South Africa</span></h4>
                  <p>Comedian</p>
                </div>
              </div>
  
           
  
            </div><!-- End Schdule Day 1 -->
  
            <!-- Schdule Day 2 -->
            <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-2">
  
              <div class="row schedule-item">
                <div class="col-md-2"><time></time></div>
                <div class="col-md-10">
                  <div class="speaker">
                    <img src="../../static/root/img/guests/burna.jpeg" alt="">
                  </div>
                  <h4>Burnaboy<span>Nigeria</span></h4>
                  <p>Entertainer</p>
                </div>
              </div>
  
              <div class="row schedule-item">
                <div class="col-md-2"><time></time></div>
                <div class="col-md-10">
                  <div class="speaker">
                    <img src="../../static/root/img/guests/wiz.jpeg" alt="">
                  </div>
                  <h4>Wizkid<span>Nigeria</span></h4>
                  <p>Entertainer</p>
                </div>
              </div>
  
              <div class="row schedule-item">
                <div class="col-md-2"><time></time></div>
                <div class="col-md-10">
                  <div class="speaker">
                    <img src="../../static/root/img/guests/basket.jpeg" alt="">
                  </div>
                  <h4>Basketmouth<span>Nigeria</span></h4>
                  <p>Comedian</p>
                </div>
              </div>
  
              <div class="row schedule-item">
                <div class="col-md-2"><time></time></div>
                <div class="col-md-10">
                  <div class="speaker">
                    <img src="../../static/root/img/guests/nastyc.jpeg" alt="">
                  </div>
                  <h4>Nasty C<span>South Africa</span></h4>
                  <p>Rapper</p>
                </div>
              </div>
  
              <div class="row schedule-item">
                <div class="col-md-2"><time></time></div>
                <div class="col-md-10">
                  <div class="speaker">
                    <img src="../../static/root/img/guests/blackson.jpeg" alt="">
                  </div>
                  <h4>Micheal Blackson<span>US</span></h4>
                  <p>Actor &  Comedian</p>
                </div>
              </div>
  
              <div class="row schedule-item">
                <div class="col-md-2"><time></time></div>
                <div class="col-md-10">
                  <div class="speaker">
                    <img src="../../static/root/img/guests/tyla.jpeg" alt="Willow Trantow">
                  </div>
                  <h4>Tyla<span>South Africa</span></h4>
                  <p>Singer</p>
                </div>
              </div>
  
            </div><!-- End Schdule Day 2 -->
  
      </section><!-- /Schedule Section -->

       <!-- Venue Section -->
    <section id="venue" class="venue section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Event Venue<br></h2>
          <p></p>
        </div><!-- End Section Title -->
  
        <div class="container-fluid" data-aos="fade-up">
  
          <div class="row g-0">
            <div class="col-lg-6 venue-map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4216.96246406054!2d7.020847814389659!3d4.823694601547372!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1069cdcf3bf146ed%3A0xea1d54f4cdef8012!2sYakubu%20Gowon%20Stadium!5e0!3m2!1sen!2sus!4v1719822406835!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
  
            <div class="col-lg-6 venue-info">
              <div class="row justify-content-center">
                <div class="col-11 col-lg-8 position-relative">
                  <h3>Yakubu Gowon Stadium, Port Port-Harcourt</h3>
                  <p>The Concert will hold at the Yakubu Gowon, Elekahia Road, Port Harcourt, Rivers Sate, Nigeria.</p>
                </div>
              </div>
            </div>
          </div>
  
        </div>
  
        <div class="container-fluid venue-gallery-container" data-aos="fade-up" data-aos-delay="100">
          <div class="row g-0">
  
            <div class="col-lg-3 col-md-4">
              <div class="venue-gallery">
                <a href="../../static/root/img/stadium/stadium 1.jpeg" class="glightbox" data-gall="venue-gallery">
                  <img src="../../static/root/img/stadium/stadium 1.jpeg" alt="" class="img-fluid">
                </a>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4">
              <div class="venue-gallery">
                <a href="../../static/root/img/stadium/stadium 2.jpg" class="glightbox" data-gall="venue-gallery">
                  <img src="../../static/root/img/stadium/stadium 2.jpg" alt="" class="img-fluid">
                </a>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4">
              <div class="venue-gallery">
                <a href="../../static/root/img/stadium/stadium5.jpg" class="glightbox" data-gall="venue-gallery">
                  <img src="../../static/root/img/stadium/stadium5.jpg" alt="" class="img-fluid">
                </a>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4">
              <div class="venue-gallery">
                <a href="../../static/root/img/stadium/stadium6.jpg" class="glightbox" data-gall="venue-gallery">
                  <img src="../../static/root/img/stadium/stadium6.jpg" alt="" class="img-fluid">
                </a>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4">
              <div class="venue-gallery">
                <a href="" class="glightbox" data-gall="venue-gallery">
                  <img src="" alt="" class="img-fluid">
                </a>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4">
              <div class="venue-gallery">
                <a href="" class="glightbox" data-gall="venue-gallery">
                  <img src="" alt="" class="img-fluid">
                </a>
              </div>
            </div>
          </div>
        </div>
  
      </section><!-- /Venue Section -->
  
      <!-- Hotels Section -->
      <section id="hotels" class="hotels section">
  
        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Hotels</h2>
          <p>These are a list of Hotels close to the Event venue, for Hasle-free booking and accomodation constraints.</p>
        </div><!-- End Section Title -->
  
        <div class="container">
  
          <div class="row gy-4">
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
              <div class="card h-100">
                <div class="card-img">
                  <img src="../../static/root/img/hotel presidential.jpeg" alt="" class="img-fluid">
                </div>
                <h3><a href="#" class="stretched-link">Presidential Hotel</a></h3>
                <div class="stars"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></div>
                <p>0.4 Mile from the Venue</p>
              </div>
            </div><!-- End Card Item -->
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="card h-100">
                <div class="card-img">
                  <img src="../../static/root/img/hotel heliconia.jpg" alt="" class="img-fluid">
                </div>
                <h3><a href="#" class="stretched-link"> Heliconia Hotel</a></h3>
                <div class="stars"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></div>
                <p>0.5 Mile from the Venue</p>
              </div>
            </div><!-- End Card Item -->
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
              <div class="card h-100">
                <div class="card-img">
                  <img src="../../static/root/img/hotel novotel.jpeg" alt="" class="img-fluid">
                </div>
                <h3><a href="#" class="stretched-link">Novotel Hotels</a></h3>
                <div class="stars"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></div>
                <p>0.6 Mile from the Venue</p>
              </div>
            </div><!-- End Card Item -->
  
          </div>
  
        </div>
  
      </section><!-- /Hotels Section -->


         <!-- Sponsors Section -->
         <section id="sponsors" class="sponsors section">
  
          <!-- Section Title -->
          <div class="container section-title" data-aos="fade-up">
            <h2>Sponsors</h2>
            <p>Here are Sponsors for the event.</p>
          </div><!-- End Section Title -->
    
          <div class="container" data-aos="fade-up" data-aos-delay="100">
    
            <div class="row g-0 clients-wrap">
    
              <div class="col-xl-3 col-md-4 client-logo">
                <img src="../../static/root/img/sponsors/spon1.jpeg" class="img-fluid" alt="">
              </div><!-- End Client Item -->
    
              <div class="col-xl-3 col-md-4 client-logo">
                <img src="../../static/root/img/sponsors/spon3.png" class="img-fluid" alt="">
              </div><!-- End Client Item -->
    
              <div class="col-xl-3 col-md-4 client-logo">
                <img src="../../static/root/img/sponsors/spon4.png" class="img-fluid" alt="">
              </div><!-- End Client Item -->
    
              <div class="col-xl-3 col-md-4 client-logo">
                <img src="../../static/root/img/sponsors/spon5.png" class="img-fluid" alt="">
              </div><!-- End Client Item -->
    
              <div class="col-xl-3 col-md-4 client-logo">
                <img src="../../static/root/img/sponsors/spon6.png" class="img-fluid" alt="">
              </div><!-- End Client Item -->
     
              <div class="col-xl-3 col-md-4 client-logo">
                <img src="../../static/root/img/sponsors/spon7.png" class="img-fluid" alt="">
              </div> 
    
               <div class="col-xl-3 col-md-4 client-logo">
                <img src="../../static/root/img/sponsors/spon8.png" class="img-fluid" alt="">
              </div>
    
               <div class="col-xl-3 col-md-4 client-logo">
                <img src="../../static/root/img/sponsors/spon2.jpeg" class="img-fluid" alt="">
              </div>
              </div> 
    
          </div>
    
        </section><!-- /Sponsors Section -->

      
    <!-- Gallery Section -->
    <section id="gallery" class="gallery section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Gallery</h2>
          <p>Check out photos from our Previous Events</p>
        </div><!-- End Section Title -->
  
        <div class="container" data-aos="fade-up" data-aos-delay="100">
  
          <div class="swiper init-swiper">
            <script type="application/json" class="swiper-config">
              {
                "loop": true,
                "speed": 600,
                "autoplay": {
                  "delay": 5000
                },
                "slidesPerView": "auto",
                "centeredSlides": true,
                "pagination": {
                  "el": ".swiper-pagination",
                  "type": "bullets",
                  "clickable": true
                },
                "breakpoints": {
                  "320": {
                    "slidesPerView": 1,
                    "spaceBetween": 0
                  },
                  "768": {
                    "slidesPerView": 3,
                    "spaceBetween": 20
                  },
                  "1200": {
                    "slidesPerView": 5,
                    "spaceBetween": 20
                  }
                }
              }
            </script>
            <div class="swiper-wrapper align-items-center">
              <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="../../static/root/img/event-gallery/concert6.jpeg"><img src="../../static/root/img/event-gallery/concert6.jpeg" class="img-fluid" alt=""></a></div>
              <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="../../static/root/img/event-gallery/concert5.jpg"><img src="../../static/root/img/event-gallery/concert5.jpg" class="img-fluid" alt=""></a></div>
              <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="../../static/root/img/event-gallery/concert4.jpg"><img src="../../static/root/img/event-gallery/concert4.jpg" class="img-fluid" alt=""></a></div>
              <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="../../static/root/img/event-gallery/concert3.jpg"><img src="../../static/root/img/event-gallery/concert3.jpg" class="img-fluid" alt=""></a></div>
              <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="../../static/root/img/event-gallery/concert2.jpg"><img src="../../static/root/img/event-gallery/concert2.jpg" class="img-fluid" alt=""></a></div>
              <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="../../static/root/img/event-gallery/concert.jpeg"><img src="../../static/root/img/event-gallery/concert.jpeg" class="img-fluid" alt=""></a></div>
              <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="../../static/root/img/event-gallery/carniriv4.jpg"><img src="../../static/root/img/event-gallery/carniriv4.jpg" class="img-fluid" alt=""></a></div>
              <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="../../static/root/img/event-gallery/carniriv5.jpg"><img src="../../static/root/img/event-gallery/carniriv5.jpg" class="img-fluid" alt=""></a></div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
  
        </div>
  
      </section><!-- /Gallery Section -->
  
   
  

    <div class="container-fluid" id="container-fluid">
        <div class="row justify-content-center">
            <div class="col-11 col-sm-10 col-md-10 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2">
                <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                    <h2 id="heading">Register to get your tickets for the PORT-HARCOURT CARNIRIV</h2>
                    <p>Fill all form field to go to next step</p>


                    <form id="msform" method="post" action="{{ url_for('register_page') }}">
                        <!-- progressbar -->
                        <ul id="progressbar">
                            <li class="active" id="account"><strong>Account</strong></li>
                            <li id="personal"><strong>Personal</strong></li>
                            <li id="payment"><strong> Ticket</strong></li>
                            <li id="confirm"><strong>Finish</strong></li>
                        </ul>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                        </div> <br> <!-- fieldsets -->
                       
                        <fieldset>
                            <div class="form-card">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="fs-title">Event Information:</h2>
                                    </div>
                                    <div class="col-5">
                                        <h2 class="steps">Step 1 - 4</h2>
                                    </div>
                                </div>  
                                <label class="fieldlabels">Event Name:</label> 
                                <input type="text" name="event_name" placeholder="Event Name" required value="{{ admin_event.event_name  }}" readonly/>

                                 <label class="fieldlabels">Event Venue:</label>
                                  <input type="text" name="event_venue" placeholder="Venue" required value="{{ admin_event.event_venue  }}" readonly />

                                  <label class="fieldlabels">Eligibility:</label> 
                                  <input type="text" name="eligibility" placeholder="Eligibility" required value="{{ admin_event.eligibility }}" readonly  />

                                  <label class="fieldlabels">Event Date:</label>
                                   <input type="date" name="event_date" placeholder="Event Date"  required value="{{ admin_event.event_date.strftime('%Y-%m-%d')  }}" readonly />

                            </div> <input type="button" name="next" class="next action-button" value="Next" />
                        </fieldset>

                        <fieldset>
                            <div class="form-card">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="fs-title">Personal Information:</h2>
                                    </div>
                                    <div class="col-5">
                                        <h2 class="steps">Step 2 - 4</h2>
                                    </div>
                                </div> 

                                 <label class="fieldlabels">First Name: *</label> 
                                 <input type="text" name="first_name" placeholder="First Name" />

                                 <label class="fieldlabels">Last Name:  *</label>
                                  <input type="text" name="last_name" placeholder="Last Name" />

                                  <label class="fieldlabels">Email: *</label> 
                                  <input type="email" name="email" placeholder="Email Address" />

                                <label class="fieldlabels">Contact No.: *</label> 
                                <input type="text" name="contact_no" placeholder="Contact Number." />

                                <label class="fieldlabels">Country Of Residence: *</label> 
                                <input type="text" name="country_of_residence" placeholder="Coutry Of Residence" />

                            </div> 
                            
                            <input type="button" name="next" class="next action-button" value="Next" /> 
                            
                            <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                        </fieldset>
                       
                       
                        <fieldset>
                            <div class="form-card">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="fs-title">Ticket Confirmation:</h2>
                                    </div>
        
                                    <div class="col-5">
                                        <h2 class="steps">Step 3 - 4</h2>
                                    </div>
                                </div>

                                 <label  class="fieldlabels" for="ticket_type">Type of Ticket:</label>
                                <select id="payment_method" name="ticket_type" required>
                                    <option disabled selected>Select an option</option>
                                    <option value="regular">Regular Tickets</option>
                                    <option value="speaker_vip">VIP Tickets</option>
                                </select>

                                <label   class="fieldlabels"  for="number_of_tickets">Number Of Ticket:</label>
                                <select id="payment_method" name="number_of_tickets" required>
                                    <option disabled selected>Select an option</option>
                                    <option value="1">1</option>
                                </select> 

                            </div> 
                            <input type="submit" name="next" class="next action-button" value="Submit" /> 
                            <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                        </fieldset>


                        <fieldset>
                            <div class="form-card">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="fs-title">Finish:</h2>
                                    </div>
                                    <div class="col-5">
                                        <h2 class="steps">Step 4 - 4</h2>
                                    </div>
                                </div> <br><br>
                                <h2 class="purple-text text-center"><strong>SUCCESS !</strong></h2> <br>
                                <div class="row justify-content-center">
                                    <div class="col-3"> <img src="../../static/admin/images/success.jpeg" class="fit-image"> </div>
                                </div> <br><br>
                                <div class="row justify-content-center">
                                    <div class="col-7 text-center">
                                        <h5 class="purple-text text-center">You Have Successfully Signed Up</h5>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>



                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../../static/root/js/register.js"></script>

     <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="../../static/root/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../static/root/vendor/php-email-form/validate.js"></script>
  <script src="../../static/root/vendor/aos/aos.js"></script>
  <script src="../../static/root/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../static/root/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="../../static/root/js/main.js"></script>

</body>

</html>